*Copyright 2025 Jaeyoung Chun / Winning Twelve*

You may not make copies of this and use or distribute it for any purpose.

# Pandas

## Import Library

In [1]:
import pandas as pd

## Load Data

In [2]:
df = pd.read_csv("./data/players.csv", sep=",")

In [3]:
df

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue
0,M. Noble,CM,West Ham,32,"1,80 m",76,76,76,6000000,66000,Right,3,3,Normal,74.0,7000000
1,R. Stearman,CB,Sheffield Utd.,32,"1,91 m",76,69,69,775000,14000,Right,3,2,Lean,68.0,1000000
2,G. Hanley,CB,Norwich,27,"1,88 m",81,70,71,1800000,22000,Right,3,2,Normal,69.0,3000000
3,P. Jagielka,CB,Sheffield Utd.,37,"1,80 m",87,76,76,1600000,22000,Right,3,2,Normal,74.0,1000000
4,A. Townsend,RW,Crystal Palace,28,"1,81 m",73,78,78,11000000,55000,Left,4,4,Lean,77.0,15000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,V. Lindelöf,CB,Man Utd,25,"1,87 m",80,81,87,22000000,97000,Right,4,3,Lean,80.0,35000000
397,O. Nyland,GK,Aston Villa,29,"1,92 m",90,72,72,2300000,28000,Right,4,1,Normal,68.7,2000000
398,R. Mahrez,RW,Man City,28,"1,79 m",67,84,84,31500000,195000,Left,4,5,Lean,83.0,60000000
399,S. Armstrong,CM,Southampton,27,"1,83 m",75,75,76,7500000,46000,Right,4,3,Normal,73.0,8000000
400,E. Capoue,CDM,Watford,31,"1,89 m",87,80,80,12000000,68000,Right,3,3,Lean,78.0,8000000

## Select

### Column

In [4]:
df.Name

0          M. Noble
1       R. Stearman
2         G. Hanley
3       P. Jagielka
4       A. Townsend
           ...
396     V. Lindelöf
397       O. Nyland
398       R. Mahrez
399    S. Armstrong
400       E. Capoue
Name: Name, Length: 401, dtype: object

### Row

In [5]:
df.loc[123]

Name                    H. Son
Position                    LW
ClubName                 Spurs
Age                         27
Height                  1,84 m
Weight                      78
Overall                     87
Potential                   88
FIFAMarketValue       60000000
FIFAWage                185000
Foot                     Right
WeakFoot                     5
SkillMoves                   4
BodyType                  Lean
MainPositionStatus        86.0
MarketValue           80000000
Name: 123, dtype: object

## Search

In [6]:
df.Age > 35

0      False
1      False
2      False
3       True
4      False
       ...
396    False
397    False
398    False
399    False
400    False
Name: Age, Length: 401, dtype: bool

In [7]:
df[ df.Age > 35 ]

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue
3,P. Jagielka,CB,Sheffield Utd.,37,"1,80 m",87,76,76,1600000,22000,Right,3,2,Normal,74.0,1000000
33,M. Stekelenburg,GK,Everton,37,"1,97 m",92,73,73,675000,26000,Right,4,1,Lean,66.3,1000000
59,W. Caballero,GK,Chelsea,38,"1,86 m",81,75,75,675000,37000,Right,3,1,Normal,68.7,1000000
84,L. Grant,GK,Man Utd,36,"1,93 m",83,72,72,525000,30000,Right,4,1,Normal,68.0,750000
187,G. Murray,ST,Brighton,36,"1,86 m",80,77,77,4100000,39000,Right,3,2,Lean,71.0,3000000
197,A. Lonergan,GK,Liverpool,36,"1,93 m",87,65,65,150000,8000,Left,1,1,Normal,58.7,250000
199,C. Bravo,GK,Man City,36,"1,84 m",80,77,77,1500000,47000,Right,3,1,Normal,74.2,2500000
231,Gomes,GK,Watford,38,"1,91 m",95,76,76,775000,27000,Right,2,1,Lean,68.2,1000000
294,B. Foster,GK,Watford,36,"1,93 m",90,80,80,2500000,36000,Left,3,1,Normal,73.2,3000000
354,A. Boruc,GK,Bournemouth,39,"1,93 m",87,75,75,675000,23000,Right,3,1,Normal,67.7,1000000

## Statistics

### Sum

In [8]:
df.Age.sum()

10678

### Average

In [9]:
df.Age.mean()

26.628428927680797

### Descriptive Statistics

In [10]:
df.Age.describe()

count    401.000000
mean      26.628429
std        4.195127
min       18.000000
25%       23.000000
50%       27.000000
75%       30.000000
max       39.000000
Name: Age, dtype: float64

## Sort

Player with highest market value

In [11]:
df.sort_values(by="FIFAMarketValue", ascending=False)

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue
235,K. de Bruyne,CAM,Man City,28,"1,81 m",70,91,91,90000000,370000,Right,5,4,Normal,88.0,130000000
108,V. van Dijk,CB,Liverpool,28,"1,93 m",92,90,91,78000000,200000,Right,3,2,Normal,87.0,100000000
81,R. Sterling,LW,Man City,24,"1,70 m",69,88,90,73000000,255000,Right,3,4,Lean,86.0,140000000
313,P. Pogba,CM,Man Utd,26,"1,91 m",84,88,91,72500000,250000,Right,4,5,Normal,84.0,100000000
280,C. Eriksen,CAM,Spurs,27,"1,82 m",76,88,89,68000000,205000,Right,5,4,Lean,86.0,100000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,D. Martin,GK,West Ham,33,"1,88 m",86,66,66,350000,14000,Right,3,1,Normal,60.7,250000
173,J. Sterry,RB,Newcastle,23,"1,80 m",76,61,69,325000,5000,Right,3,2,Lean,59.0,75000
372,T. Dele-Bashiru,CM,Watford,20,"1,79 m",68,57,76,220000,5000,Right,2,2,Normal,55.0,150000
10,A. Pereira,CAM,Man Utd,23,"1,78 m",73,58,70,200000,1000,Left,3,2,Lean,43.0,15000000
197,A. Lonergan,GK,Liverpool,36,"1,93 m",87,65,65,150000,8000,Left,1,1,Normal,58.7,250000

## Group

Average wage per club

In [12]:
df.groupby("ClubName").FIFAWage.mean()

ClubName
Arsenal            73428.571429
Aston Villa        35250.000000
Bournemouth        42809.523810
Brighton           36590.909091
Burnley            40944.444444
Chelsea            91045.454545
Crystal Palace     43611.111111
Everton            60450.000000
Leicester          48050.000000
Liverpool         114352.941176
Man City          171500.000000
Man Utd            91550.000000
Newcastle          32086.956522
Norwich            30800.000000
Sheffield Utd.     22181.818182
Southampton        36888.888889
Spurs             103312.500000
Watford            49444.444444
West Ham           67523.809524
Wolves             44933.333333
Name: FIFAWage, dtype: float64

## Group and Sort

In [13]:
df.groupby("ClubName").FIFAWage.mean().sort_values(ascending=False)

ClubName
Man City          171500.000000
Liverpool         114352.941176
Spurs             103312.500000
Man Utd            91550.000000
Chelsea            91045.454545
Arsenal            73428.571429
West Ham           67523.809524
Everton            60450.000000
Watford            49444.444444
Leicester          48050.000000
Wolves             44933.333333
Crystal Palace     43611.111111
Bournemouth        42809.523810
Burnley            40944.444444
Southampton        36888.888889
Brighton           36590.909091
Aston Villa        35250.000000
Newcastle          32086.956522
Norwich            30800.000000
Sheffield Utd.     22181.818182
Name: FIFAWage, dtype: float64

## Sample

In [14]:
df.sample(5)

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue
384,C. Basham,CB,Sheffield Utd.,31,"1,90 m",80,73,73,3200000,25000,Right,2,2,Lean,71.0,2500000
26,J. Schlupp,LM,Crystal Palace,26,"1,78 m",72,74,75,6500000,43000,Left,2,3,Normal,72.0,10000000
31,D. Stephens,CM,Brighton,29,"1,85 m",78,76,76,7000000,44000,Right,3,3,Lean,74.0,6000000
293,D. Ward,GK,Leicester,26,"1,91 m",88,73,74,3300000,39000,Right,3,1,Normal,66.8,8000000
61,K. Walker-Peters,RB,Spurs,22,"1,73 m",64,74,80,7000000,49000,Right,4,3,Lean,72.0,10000000

In [15]:
df2 = df.sample(5)

In [16]:
df2

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue
281,C. Adams,ST,Southampton,23,"1,79 m",66,74,81,8000000,41000,Right,4,3,Stocky,72.0,12000000
333,R. Barkley,CM,Chelsea,25,"1,85 m",87,79,82,16000000,98000,Right,5,4,Normal,77.0,30000000
193,P. Foden,CM,Man City,19,"1,71 m",69,76,90,16500000,52000,Left,3,4,Lean,73.0,30000000
109,A. Tettey,CDM,Norwich,33,"1,81 m",68,71,71,1200000,25000,Right,2,2,Normal,70.0,2000000
338,R. Saïss,CDM,Wolves,29,"1,88 m",84,77,77,7500000,68000,Left,3,3,Lean,76.0,5000000

## Iteration

In [17]:
for row in df2.itertuples():
    print(row)

Pandas(Index=281, Name='C. Adams', Position='ST', ClubName='Southampton', Age=23, Height='1,79 m', Weight=66, Overall=74, Potential=81, FIFAMarketValue=8000000, FIFAWage=41000, Foot='Right', WeakFoot=4, SkillMoves=3, BodyType='Stocky', MainPositionStatus=72.0, MarketValue=12000000)
Pandas(Index=333, Name='R. Barkley', Position='CM', ClubName='Chelsea', Age=25, Height='1,85 m', Weight=87, Overall=79, Potential=82, FIFAMarketValue=16000000, FIFAWage=98000, Foot='Right', WeakFoot=5, SkillMoves=4, BodyType='Normal', MainPositionStatus=77.0, MarketValue=30000000)
Pandas(Index=193, Name='P. Foden', Position='CM', ClubName='Man City', Age=19, Height='1,71 m', Weight=69, Overall=76, Potential=90, FIFAMarketValue=16500000, FIFAWage=52000, Foot='Left', WeakFoot=3, SkillMoves=4, BodyType='Lean', MainPositionStatus=73.0, MarketValue=30000000)
Pandas(Index=109, Name='A. Tettey', Position='CDM', ClubName='Norwich', Age=33, Height='1,81 m', Weight=68, Overall=71, Potential=71, FIFAMarketValue=1200000, FIFAWage=25000, Foot='Right', WeakFoot=2, SkillMoves=2, BodyType='Normal', MainPositionStatus=70.0, MarketValue=2000000)
Pandas(Index=338, Name='R. Saïss', Position='CDM', ClubName='Wolves', Age=29, Height='1,88 m', Weight=84, Overall=77, Potential=77, FIFAMarketValue=7500000, FIFAWage=68000, Foot='Left', WeakFoot=3, SkillMoves=3, BodyType='Lean', MainPositionStatus=76.0, MarketValue=5000000)

In [18]:
for row in df2.itertuples():
    print(2024 - row.Age)

2001
1999
2005
1991
1995

## Apply

In [19]:
df2.Age.apply(lambda x: x)

281    23
333    25
193    19
109    33
338    29
Name: Age, dtype: int64

In [20]:
df2.Age.apply(lambda x: 2024 - x)

281    2001
333    1999
193    2005
109    1991
338    1995
Name: Age, dtype: int64

In [21]:
df2["YearBorn"] = df2.Age.apply(lambda x: 2024 - x)

In [22]:
df2

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue,YearBorn
281,C. Adams,ST,Southampton,23,"1,79 m",66,74,81,8000000,41000,Right,4,3,Stocky,72.0,12000000,2001
333,R. Barkley,CM,Chelsea,25,"1,85 m",87,79,82,16000000,98000,Right,5,4,Normal,77.0,30000000,1999
193,P. Foden,CM,Man City,19,"1,71 m",69,76,90,16500000,52000,Left,3,4,Lean,73.0,30000000,2005
109,A. Tettey,CDM,Norwich,33,"1,81 m",68,71,71,1200000,25000,Right,2,2,Normal,70.0,2000000,1991
338,R. Saïss,CDM,Wolves,29,"1,88 m",84,77,77,7500000,68000,Left,3,3,Lean,76.0,5000000,1995

## Cut

In [23]:
pd.cut(df.FIFAMarketValue, bins=3)

0         (60150.0, 30100000.0]
1         (60150.0, 30100000.0]
2         (60150.0, 30100000.0]
3         (60150.0, 30100000.0]
4         (60150.0, 30100000.0]
                 ...
396       (60150.0, 30100000.0]
397       (60150.0, 30100000.0]
398    (30100000.0, 60050000.0]
399       (60150.0, 30100000.0]
400       (60150.0, 30100000.0]
Name: FIFAMarketValue, Length: 401, dtype: category
Categories (3, interval[float64, right]): [(60150.0, 30100000.0] < (30100000.0, 60050000.0] < (60050000.0, 90000000.0]]

In [24]:
pd.cut(df.FIFAMarketValue, bins=3, labels=["A", "B", "C"])

0      A
1      A
2      A
3      A
4      A
      ..
396    A
397    A
398    B
399    A
400    A
Name: FIFAMarketValue, Length: 401, dtype: category
Categories (3, object): ['A' < 'B' < 'C']

In [25]:
df["ValueRank"] = pd.cut(df.FIFAMarketValue, bins=3, labels=["A", "B", "C"])

In [26]:
df

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue,ValueRank
0,M. Noble,CM,West Ham,32,"1,80 m",76,76,76,6000000,66000,Right,3,3,Normal,74.0,7000000,A
1,R. Stearman,CB,Sheffield Utd.,32,"1,91 m",76,69,69,775000,14000,Right,3,2,Lean,68.0,1000000,A
2,G. Hanley,CB,Norwich,27,"1,88 m",81,70,71,1800000,22000,Right,3,2,Normal,69.0,3000000,A
3,P. Jagielka,CB,Sheffield Utd.,37,"1,80 m",87,76,76,1600000,22000,Right,3,2,Normal,74.0,1000000,A
4,A. Townsend,RW,Crystal Palace,28,"1,81 m",73,78,78,11000000,55000,Left,4,4,Lean,77.0,15000000,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,V. Lindelöf,CB,Man Utd,25,"1,87 m",80,81,87,22000000,97000,Right,4,3,Lean,80.0,35000000,A
397,O. Nyland,GK,Aston Villa,29,"1,92 m",90,72,72,2300000,28000,Right,4,1,Normal,68.7,2000000,A
398,R. Mahrez,RW,Man City,28,"1,79 m",67,84,84,31500000,195000,Left,4,5,Lean,83.0,60000000,B
399,S. Armstrong,CM,Southampton,27,"1,83 m",75,75,76,7500000,46000,Right,4,3,Normal,73.0,8000000,A
400,E. Capoue,CDM,Watford,31,"1,89 m",87,80,80,12000000,68000,Right,3,3,Lean,78.0,8000000,A

In [27]:
# Left Wing and A Rank
df[ (df.Position == "LW") & (df.ValueRank == "A") ]

,Name,Position,ClubName,Age,Height,Weight,Overall,Potential,FIFAMarketValue,FIFAWage,Foot,WeakFoot,SkillMoves,BodyType,MainPositionStatus,MarketValue,ValueRank
24,D. McNeil,LW,Burnley,19,"1,83 m",68,74,85,9500000,17000,Left,3,3,Lean,72.0,15000000,A
39,C. Atsu,LW,Newcastle,27,"1,65 m",65,74,74,6000000,33000,Left,3,3,Lean,73.0,6000000,A
42,Richarlison,LW,Everton,22,"1,79 m",71,79,84,17000000,72000,Right,5,4,Normal,79.0,50000000,A
152,Trezeguet,LW,Aston Villa,25,"1,79 m",78,77,79,11000000,52000,Right,5,4,Normal,76.0,8000000,A
181,C. Hudson-Odoi,LW,Chelsea,19,"1,77 m",75,74,88,11500000,31000,Right,3,4,Normal,73.0,35000000,A
194,Bernard,LW,Everton,27,"1,64 m",60,80,80,16000000,88000,Right,4,4,Lean,79.0,20000000,A
216,D. James,LW,Man Utd,22,"1,70 m",76,72,84,5500000,46000,Right,4,3,Normal,71.0,25000000,A
234,R. Holmes,LW,Sheffield Utd.,32,"1,88 m",75,67,67,600000,11000,Right,3,3,Lean,66.0,350000,A
249,N. Redmond,LW,Southampton,25,"1,73 m",69,77,80,11000000,50000,Right,3,4,Lean,76.0,20000000,A
264,B. Saka,LW,Arsenal,18,"1,78 m",70,65,86,1200000,2000,Left,4,3,Normal,65.0,7000000,A
277,M. Djenepo,LW,Southampton,21,"1,77 m",65,74,83,8500000,32000,Right,3,3,Lean,73.0,12000000,A
278,J. Graham,LW,Wolves,24,"1,82 m",73,65,69,700000,14000,Right,5,4,Lean,64.0,500000,A
288,O. Hernández,LW,Norwich,26,"1,72 m",76,73,74,4700000,36000,Right,3,4,Stocky,73.0,4000000,A
301,Danjuma,LW,Bournemouth,22,"1,78 m",80,76,84,11500000,49000,Right,4,4,Normal,75.0,12000000,A
310,Diogo Jota,LW,Wolves,22,"1,78 m",73,80,86,20500000,84000,Right,5,4,Normal,79.0,35000000,A
331,C. Robinson,LW,Sheffield Utd.,24,"1,78 m",75,73,78,5500000,26000,Right,3,3,Normal,73.0,7000000,A
335,J. Izquierdo,LW,Brighton,27,"1,71 m",75,76,76,8500000,48000,Right,3,4,Normal,75.0,10000000,A
347,D. Gray,LW,Leicester,23,"1,80 m",74,75,80,9000000,60000,Right,3,4,Lean,74.0,20000000,A
357,I. Success,LW,Watford,23,"1,82 m",90,73,79,5500000,43000,Right,3,3,Stocky,71.0,5000000,A
365,J. Stanislas,LW,Bournemouth,29,"1,83 m",76,75,75,6500000,55000,Right,3,3,Lean,73.0,3500000,A